/node_modules
.env
*.png
*.pdf
*.ico

# Allow specific files
!public/me.png
!src/assets/Resume.pdf
!src/assets/t1.png
!src/assets/t2.png
!src/assets/t3.png
!src/assets/t4.png
!src/assets/hand.png
!public/favicon.ico